html{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin-left: 20px;
    margin-right: 5px;
    width: 845px;
    height: 1830px;
}


.address{
    text-align: right;
    margin-right: 20px;
    font-style: italic;
   
    font-size: 60;

}

.address h3 ,div ,p{
    margin: 0;
}

.address div p{
    line-height: 25px;
}

.address div .date{
    line-height: 0;
    margin-top: 28px;
    font-style: none;
}
.address div span{
    font-weight: bolder;
}
.toaddress h3{
    margin-bottom: 0;
}
.toaddress h3,p{
  line-height: 23px;
}

.deartext{
    font-size: 18px;
}

.description{
    margin-top: 10px;
}
.description span{
    text-decoration: underline;
    
}
.description ol li{
   margin-top: 10px;
}
.description .paddingdesc{
  padding-left: 30px;
}