html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin-left: 20px;
    margin-right: 5px;
  
}


.address {
    text-align: right;
    margin-right: 20px;
    font-style: italic;
    font-size: 60;

}

.address div span {
    font-weight: bolder;
}

.fromaddress{|

}

.deartext {
    font-size: 18px;
}

.description {
    margin-top: 10px;
}

.description span {
    text-decoration: underline;

}

.description ol li {
    margin-top: 10px;
}

.description .paddingdesc {
    padding-left: 30px;
}

.endofletter p {
    margin-top: 10px;
}